/*Page*/
.profile {
    background: rgb(52, 209, 191);
    background: radial-gradient(
      circle at 133% 20%,
      rgba(52, 209, 191, 1) 0%,
      rgba(35, 135, 123, 1) 10%,
      rgba(22, 76, 70, 1) 25%,
      rgba(13, 32, 30, 1) 41%,
      rgba(10, 21, 20, 1) 85%,
      rgba(7, 7, 7, 1) 94%
    );
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 2.5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-perfil {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 5% 5% 5%;
    gap: 10%;
}

.mas-escuchados {
    display: flex;
    gap: 5%;
    margin: 5% 0 2% 5%;
}


/*UserIcon*/
.userIcon {
  display: flex;
  background: #000000;
  width: 130px;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.userIcon > img {
  width: 50px;
  height: 31px;
}

.userIcon:hover {
  transition: 0.5s;
  transform: scale(0.9);
  cursor: pointer;
}

/*MiniCard*/
.rec-miniCard {
  display: flex;
  flex-direction: column;
  background: #e0e0e0;
  width: 170px;
  padding: 2%;
  border-radius: 15px;
}

.rec-miniCard > img {
  width: 160px;
}

/*Table*/
.rectanguloTabla {
  background-color: #e0e0e0;
  width: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 95%;
  border-collapse: collapse;
}

th {
  text-align: justify;
  font-weight: 100;
  color: #828282;
}

td {
  border-top: 1px solid #ffffff75;
  padding: 10px;
}

h2 {
  font-size: 30px;
  color: #ffffff;
}

.artistas {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.artistas > img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.artistas > img:hover {
  transition: 0.5s;
  transform: scale(0.9);
  cursor: pointer;
}

.artistas > p:hover {
  transition: 0.5s;
  transform: scale(0.9);
  cursor: pointer;
}
